body {
  background-color: wheat;
}

form {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  
  button {
    max-width: 100px;
    margin-top: 5px;
  }
  
  input[type=text]{
    max-width: 200px;
  }
  
  input[type=date] {
    max-width: 100px;
  }
  
  textarea {
    max-width: 300px;
  }
}

.error {
  color: red
}
